hr {
	background-color: #353535;
	border: 0;
	height: 0.1em;
	margin: 24px 0;
	padding: 0;
}

@media print {
	nav {
		display: none;
	}

	footer {
		display: none;
	}

	.post-title {
		font-size: 3rem;
	}

	a {
		text-decoration-line: underline;
		text-decoration-style: dotted;
		color: inherit;
	}
}

@page {
	margin: 1in;
}

.inline-svg {
	display: inline-block;
	height: 1.15rem;
	width: 1.15rem;
	top: 0.15rem;
	position: relative;
}

.inline-svg svg {
	width: 100%;
	height: 100%;
}

.inline-img {
	display: inline-block;
	height: 1.15rem;
	width: 1.15rem;
	top: 0.15rem;
	position: relative;
	margin: 0px;
}

.inline-img-large {
	display: inline-block;
	height: 1.5rem;
	width: 1.5rem;
	top: 0.38rem;
	position: relative;
	margin: 0px;
}

body {
	color: #394B59;
}

/* h1, h2, h3, h4, h5, h6, .catalogue-title, .nav-title {
	color: #DB2C6F;
} */

/* hr {
	background-color: #FF66A1;
} */

/* .post-title {
	color: #DB2C6F;
} */

.catalogue-line, .post-line {
	border-top-color: #FF66A1;
}

.nav-title, a, .nav a, .nav a img {
	color: #FF66A1;
}

.nav .inline-icon {
	background-color: #FF66A1;
}

.inline-icon {
	display: inline-block;
	position: relative;
	margin: 0px;
	-webkit-mask-size: cover !important;
	mask-size: cover !important;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-position: 0 0;
	mask-position: 0 0;
}

.inline-icon::before {
	content: ""
}

.icon-32 {
	width: 32px;
	height: 32px;
}

.icon-24 {
	width: 24px;
	height: 24px;
	margin-bottom: -6px;
}

.icon-github {
	-webkit-mask-image: url('../icons/octicons/mark-github.svg');
	mask-image: url('../icons/octicons/mark-github.svg');
}

.icon-linkedin {
	-webkit-mask-image: url('../icons/linkedin-in-brands.svg');
	mask-image: url('../icons/linkedin-in-brands.svg');
}

.icon-resume {
	-webkit-mask-image: url('../icons/octicons/file.svg');
	mask-image: url('../icons/octicons/file.svg');
	-webkit-mask-size: auto 107% !important;
	mask-size: auto 107% !important;
	-webkit-mask-position: 0 0.5px !important;
	mask-position: 0 0.5px !important;
}

.background-coffee::before {
	content:"";
}
.background-coffee {
	width: 256px;
	height: 256px;
	position: relative;
	background-image: url("../background-coffee.png");
	background-repeat: no-repeat;
	background-size: 256px 256px;
	opacity: 0.2;
	/* right: 32px;
	top: 100%; */
	z-index: 0;
	margin-top: -256px;
	margin-right: 32px;
	margin-left: auto;
}