<div class="hero-quote">
    <div class="hero-quote-marks">
        <div class='inline-icon icon-quote icon-32'></div>
    </div>
    <div class="hero-quote-marks-close">
        <div class='inline-icon icon-quote icon-32 rotate-180'></div>
    </div>
    <div class="hero-quote-inner">
        <h1 class="catalogue-title">
The way of success is the way of continuous pursuit of knowledge.
        </h1>
        <div class='hero-quote-attribution' >
            <p>&nbsp;</p>
            <p><strong>Napoleon Hill</strong></p>
            <p><em>Think and Grow Rich</em></p>
        </div>
    </div>
</div>