<ul>
    <li><a href="{{ "about" | relURL }}">{{ i18n "about" }}</a></li>
    <li><a href="{{ "/" | relURL }}">{{ i18n "posts" }}</a></li>
    <li>
        <a title="GitHub" href="https://github.com/Arizard">
            <div class='inline-icon icon-github icon-24'></div>
            <!-- &nbsp;GitHub -->
        </a>
    </li>
    <li>
        <a title="LinkedIn" href="https://www.linkedin.com/in/arieoldman/">
            <div class='inline-icon icon-linkedin icon-24'></div>
            <!-- &nbsp;LinkedIn -->
        </a>
    </li>
    <li>
        <a title="Resume" href="{{ "resume" | relURL }}">
                <div class='inline-icon icon-resume icon-24'></div>
            <!-- &nbsp;Resume -->
        </a>
    </li>
</ul>